.git
.github
.pytest_cache
.vscode
admin-ui-assets
docs
logs
node_modules
playwright-report
python_api_client
rendered
target
test-results
tests
uploads
database.sqlite
tarpaulin-report.html
.DS_Store
**/.DS_Store
