/target
/node_modules
/admin-ui-assets/*
/playwright-report
/test-results
.DS_Store
database.sqlite
build_rs_cov.profraw
tarpaulin-report.html

uploads/media-storage/
!uploads/media-storage/.gitkeeper
rendered/*
!rendered/.gitkeeper
site_templates/
!site_templates/default/
# rendered documentation
docs/book/
