{% extends "base_template.html" %}
{% block body %}

<form method="post" action="/admin/sites/new">
  <label for="short_name">Short Name</label>
  <input id="short_name" name="short_name" required />

  <label for="full_title">Full Title</label>
  <input id="full_title" name="full_title" required />

  <div class="form-field">
    <label for="template_name">Template</label>
    <select id="template_name" name="template_name" required>
      {% for template in templates %}
      <option value="{{ template }}" {% if template == "default" %}selected{% endif %}>{{ template }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit">Create site</button>
</form>

{% endblock %}
