{% extends "base_template.html" %}
{% block body %}
{% if !rows.is_empty() %}
<table>
  <thead>
    <tr>
      {% if show_site_column %}
      <th>Site</th>
      {% endif %}
      <th>Title</th>
      <th>Created Date</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% if show_site_column %}
      <td>{{ row.site_title }}</td>
      {% endif %}
      <td><a href="{{ row.edit_href }}">{{ row.title }}</a></td>
      <td>{{ row.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
