{% extends "base_template.html" %}
{% block body %}
<form method="post" action class="editor-form" data-editor-config data-site-id="{{ site_id }}" data-allow-external-image="{{ allow_external_image }}">
  <div class="form-grid">
    <div class="form-field">
      <label for="title">Title</label>
      <input id="title" name="title" value="{{ title }}" required />
    </div>
    <div class="form-field">
      <label for="page_type">Page Type</label>
      <select id="page_type" name="page_type" required>
        <option value="post" {% if page_type == "post" %}selected{% endif %}>Post</option>
        <option value="page" {% if page_type == "page" %}selected{% endif %}>Page</option>
      </select>
    </div>

    <div class="form-field">
      <label for="draft">Publish State</label>
      <select id="draft" name="draft">
        <option value="true" {% if draft %}selected{% endif %}>Draft</option>
        <option value="false" {% if !draft %}selected{% endif %}>Published</option>
      </select>
    </div>
  </div>

  {% include "editor.html" %}

  <div class="form-grid">
    <div class="form-field">
      <label for="published_at">Published At</label>
      <input id="published_at" name="published_at" value="{{ published_at }}" />
      {% if let Some(published_at_display) = published_at_display %}
      <p>{{ published_at_display }}</p>
      {% endif %}
    </div>
    <div class="form-field">
      <label for="slug">Slug</label>
      <input id="slug" name="slug" value="{{ slug }}" required />
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="save">Save</button>
  </div>
</form>

{% endblock %}
