{% extends "base_template.html" %}
{% block body %}

<form method="get" action>
  <label for="q">Search Query</label>
  <input id="q" name="q" value="{{ query }}" />

  <button type="submit">Search</button>
</form>

{% if !results.is_empty() %}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created Date</th>
    </tr>
  </thead>
  <tbody>
    {% for row in results %}
    <tr>
      <td><a href="/admin/site/{{ row.site_id }}/content/{{ row.id }}">{{ row.title }}</a></td>
      <td>{{ row.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
