<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ template_shared.page_title }}{% endblock title %}</title>
    <link rel="stylesheet" href="/admin/assets/admin.css" />
    <link rel="stylesheet" href="/admin/assets/editor.css" />
    <script src="/admin/assets/editor.js" defer></script>
    {% block header %}
    {% endblock %}
  </head>
  <body>
    <main>
      <h1 class="page-title">{{ template_shared.page_title }}</h1>
      <nav>
        <a href="/admin">Dashboard</a>
        <a href="/admin/sites">Sites </a>
        {% if let Some(site_id) = template_shared.site_id %}
        <a href="/admin/site/{{ site_id }}/content">Site Content</a>
        <a href="/admin/site/{{ site_id }}/render">Render Site</a>
        {% endif %}
        <a href="/admin/users/me">My Profile</a>
        {% block nav_links %}{% endblock %}
      </nav>

      {% if let Some(message) = template_shared.page_message %}
      <p class="message">{{ message }}</p>
      {% endif %}

      {% block body %}{% endblock %}

      {% if !template_shared.links.is_empty() %}
      <h2>Actions</h2>
      <ul>
        {% for link in template_shared.links %}
        <li><a href="{{ link.href }}">{{ link.label }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </main>
  </body>
</html>
