<div class="editor-toolbar" data-editor-toolbar>
    <div class="editor-toolbar__group">
        <button type="button" class="editor-button" data-command="bold">Bold</button>
        <button type="button" class="editor-button" data-command="italic">Italic</button>
        <button type="button" class="editor-button" data-command="code">Code</button>
        <button type="button" class="editor-button" data-command="link">Link</button>
        <button type="button" class="editor-button" data-command="image">Image</button>
    </div>
    <div class="editor-toolbar__group">
        <button type="button" class="editor-button" data-command="h2">H2</button>
        <button type="button" class="editor-button" data-command="h3">H3</button>
    </div>
    <div class="editor-toolbar__group">
        <button type="button" class="editor-button" data-command="ul">Bullets</button>
        <button type="button" class="editor-button" data-command="ol">Numbered</button>
        <button type="button" class="editor-button" data-command="quote">Quote</button>
    </div>
    <div class="editor-toolbar__group">
        <!--
        TODO make this preview actually use the site template to render the content
        <button type="button" class="editor-button" data-command="preview" aria-pressed="false">
            Preview
        </button>
        -->
        <button type="button" class="editor-button" data-command="source" aria-pressed="false">
            Markdown
        </button>
    </div>
</div>