{% extends "base_template.html" %}
{% block title %}Memberships - {{ site_full_title }}{% endblock %}

{% block body %}
<section>
  <h2>Existing memberships</h2>
  {% if memberships.is_empty() %}
  <p>No memberships yet.</p>
  {% else %}
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for membership in memberships %}
      <tr>
        <td>
          {% if let Some(profile_href) = membership.profile_href %}
          <a href="{{ profile_href }}" aria-label="{{membership.subject }}">{{ membership.email }}</a>
          {% else %}
          <span aria-label="{{membership.subject }}">{{ membership.email }}</span>
          {% endif %}
        </td>
        <td>
          <form method="post" action="{{ membership.update_href }}">
            <select name="role">
              {% for role in SiteRole::all_without_admin() %}
              <option value="{{ role.label() }}" {% if membership.role == role %}selected{% endif %}>
                {{ role }}</option>
              {% endfor %}
              {# <option value="viewer" {% if membership.role.is_viewer() %}selected{% endif %}>
                Viewer
              </option>
              <option value="author" {% if membership.role.is_author() %}selected{% endif %}>
                Author
              </option>
              <option value="editor" {% if membership.role.is_editor() %}selected{% endif %}>
                Editor
              </option>
              <option value="owner" {% if membership.role.is_owner() %}selected{% endif %}>
                Owner
              </option> #}
            </select>
            <button type="submit">Update</button>
          </form>
        </td>
        <td>
          <form method="post" action="{{ membership.remove_href }}">
            <button type="submit">Remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</section>

<section>
  <h2>Add membership</h2>
  <form method="post" action="/admin/site/{{ site_id }}/memberships/new">
    <label for="subject">User</label>
    <input id="subject" name="subject" required />

    <label for="role">Role</label>
    <select id="role" name="role" required>
      {% for role in roles %}
      <option value="{{ role.label() }}">{{ role }}</option>
      {% endfor %}
    </select>

    <button type="submit">Add member</button>
  </form>
</section>
{% endblock %}
