<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{{site_title}}{% endblock %}</title>
        <link rel="stylesheet" href="/assets/style.css" />
    </head>
    <body>
        <header class="site-header">
            <h1><a href="/">{{page_title}}</a></h1>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>